<div class="row">
    <h2 style="text-align:center" ><b style="color: chartreuse;">Developer Details</b></h2>
</div><br><br>

<div class="container" >
<h3>Please press the button to operate your request...</h3>

    <input type="submit" value="Reach by Mail" (click)="mailUs()">
  <br>

    <input type="submit" value="Reach by Phone" (click)="phoneUs()">
  <br>
  
    <input type="submit" value="Reach by Website" (click)="webUs()">
  <br>

</div>

  <!-- Routing of Component -->
<router-outlet></router-outlet>
