/* You can add global styles to this file, and also import other style files */
body
{
    background-image: url("C:\Users\amit\Simplilearn\Complaint Redressal System\Frontend_Complaint_Redressal_System\src\assets\background-images.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}