<div class="container" style="text-align: center;">

    <h2 style="color: aquamarine;">Welcome to Complaint Redressal System</h2>
    <h4 style="color: chartreuse; border-radius: 5px; border-color: chartreuse;">Developer : Amit Rakte</h4>
    <br>
    <h4>
        <marquee style="color:burlywood;">“When you are making a decision about how best to serve your customers, your own experience is often a better guide than a more sophisticated analysis of the market.” </marquee>

    </h4>

</div>
<router-outlet></router-outlet>